<div class="footer wrapper f-flex">
    <a href=""><img src="images/PASHLOGO.png" alt="logo" width="150px"></a>
    <p>Designed and developed with ❤️ by Pash</p>
    <p> © Copyright <%= date %> all rights reserved </p>

</div>