<div class="hero-area wrapper case " id="case">
    <div class="left-content" style="max-width:fit-content">
        <div class="left-content-heading-with-text">

            <div class="h-flex eyebrow">
                <p>
                    <span id="stretch">CASE STUDY</span>
                </p>
                <div class="line"></div>
            </div>
            <h1>How I helped Meera to <br> grow by <span id="highlight_two">250% </span> in a year</h1>
        </div>
        <a class="primary-btn green" href="https://acrobat.adobe.com/id/urn:aaid:sc:ap:75aa5d2c-3ae2-4aec-85b5-17ecbbdce327" target="_blank">Open case study</a>

    </div>
    <div class="right-content ">


        <video id="c-image" 
               src="images/Graph12.webm" 
               autoplay 
               muted 
               playsinline 
               loop 
               preload="auto"
               poster="images/Graph12-poster.jpg">
            <source src="images/Graph12.webm" type="video/webm">
            <source src="images/Graph12.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</div>