


  <div class="hero-area no-margin wrapper contact ">
    <div class="left-content">
        <h1>I'm your go-to for all design needs!</h1>
        <p>Tap on the live chat to have a one on one conversation with me or connect with me here</p>
        <div class="v-flex ">
            <div class="h-flex skill-icon social">
              <a href="https://www.linkedin.com/in/designwithpash/" target="_blank"><img class="" src="/images/icons/linkedin.svg" alt="linkedin"  width="45px"/></a>
              <a href="https://www.instagram.com/designwithpash?igsh=MXMyM2kzNjZkN2FxYQ%3D%3D&utm_source=qr" target="_blank"><img class="" src="/images/icons/insta.svg" alt="instagram" width="45px" /></a>
             
          
            </div>
          </div>
      </div>
    <div class="right-content ">
      <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <dotlottie-player src="https://lottie.host/d7c92bd3-9d72-49aa-acc3-e1f7f1515a65/VkujCvRN5m.lottie" background="transparent" speed="1" style="width: 400px; height: 400px" loop autoplay></dotlottie-player>
      <img id="c-image" src="images/pash3.webp"  alt="Pash contact image from the side"/>
    </div>
   
  </div>
