<!-- <video class="bg-video" autoplay loop muted plays-inline>
  <source src="/images/desi.webm" /> -->
</video>
<section class="hero-section" >
<div class="hero-area wrapper">
  <div class="left-content">
    <h1>Hi I am Pash, a Growth-Driven <span class="typing-text"></span></h1>
    <p>I help businesses grow through better design</p>
    <a class="primary-btn" href=<%= call %> target="_blank">Book a call</a>
  </div>
  <div class="right-content">
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/d7c92bd3-9d72-49aa-acc3-e1f7f1515a65/VkujCvRN5m.lottie" background="transparent" speed="1" style="width: 400px; height: 400px" loop autoplay></dotlottie-player>
    <img id="h-image" src="images/pash2.webp" alt="Pash front facing hero image"/>
  </div>
</div>
</section>
 