<section class="process-section" data-anim-section>
<div class="process" id="process">
  <div id="process-bg" class="process-bg"></div>
  <div class="skill wrapper">
    
    <div class="skill-content no-margin v-flex">
      <h2>The process is pretty simple</h2>
      <!-- <p>
        There are a lot of designers out there, so why me? Simple—I make things
        look good and work well. I focus on more than just aesthetics; I design
        with purpose, keeping your brand, audience, and goals in mind.
      </p> -->
    </div>
    <div class="icon-content custom-icon-content h-flex ">
      <div class="v-flex process-card">
        <img class="icon-size" src="/images/icons/form.svg" alt="fill up the google form"/>
        <h3>Fill out a simple <span id="highlight"><br>Google form</span></h3>
        <p class="light-text">
          This form will help me get all the details I need to get started with the design.
        </p>
      </div>
      <div class="v-flex process-card">
        <img class="icon-size" src="/images/icons/design.svg" alt="get to the design"/>
        <h3>I <span id="highlight">Start </span>Working on <br>the Project</h3>
        <p class="light-text">
          I start working on the design and within 2-3 days, you will have an initial draft ready
        </p>
      </div>
      <div class="v-flex process-card">
        <img class="icon-size" src="/images/icons/final.svg" alt="finalise design"/>
        <h3><span id="highlight">I Revise</span> and <br>Finalise the design</h3>
        <p class="light-text">
          We will then revise the design based on your feedback unless you are happy :)) and finish the design
        </p>
      </div>

    </div>
    
  </div>
</div>
</section>