<section class="skills-section" data-anim-section>
<div class="skill wrapper">
    <div class="circle reverse fade-in"></div>
    <div class="circle2 fade-in"></div>
    <div class="circle3 fade-in"></div>
    <div class="circle4 fade-in"></div>
    
  <div class="skill-content v-flex">
    <h2>Why Work With Me?</h2>
    <!-- <p>
      There are a lot of designers out there, so why me? Simple—I make things
      look good and work well. I focus on more than just aesthetics; I design
      with purpose, keeping your brand, audience, and goals in mind.
    </p> -->
  </div>
  <div class="icon-content h-flex">
    <div class="v-flex icon-container">
      <img class="icon-size" src="/images/icons/grow1.svg" alt="grow"/>
      <h3>Design that <span id="highlight">perform</span></h3>
      <p class="light-text">
        I create designs that work, whether it's a website, app, or marketing
        material.
      </p>
    </div>
    <div class="v-flex icon-container">
      <img class="icon-size" src="/images/icons/fast1.svg"  alt="fast"/>
      <h3><span id="highlight">Fast</span> & reliable</h3>
      <p class="light-text">
        I respect deadlines and deliver high-quality work without unnecessary
        delays.
      </p>
    </div>
    <div class="v-flex icon-container">
      <img class="icon-size" src="/images/icons/easy1.svg" alt="easy"/>
      <h3><span id="highlight">Easy</span> to Work With</h3>
      <p class="light-text">
        No complicated jargon, just clear communication and a smooth process.
      </p>
    </div>
    <div class="v-flex icon-container">
      <img class="icon-size" src="/images/icons/globe1.svg"  alt="remote"/>
      <h3><span id="highlight">Remote</span> & US-Friendly</h3>
      <p class="light-text">
        I'm used to working with international clients and understand the global
        design landscape./p>
      </p>
    </div>
  </div>
  <div class="skillset icon-container">
    <div class="v-flex sm ">
      <h3>Tools which I am proficient at</h3>
    </div>
   
      <div class="v-flex ">
        <div class="h-flex skill-icon">
          <img class="icon-size small" src="/images/icons/ps.svg" alt="adobe photoshop" />
          <img id="figma" src="/images/icons/figma.svg" width="45px"   alt="Figma" />
          <img class="icon-size small" src="/images/icons/xd.svg"  alt="adobe xd"  />
          <img class="icon-size small" src="/images/icons/indesign.svg"  alt="adobe indesign" />
          <img class="icon-size small" src="/images/icons/pp.svg"  alt="adobe premier pro"  />
          <img class="icon-size small" src="/images/icons/ae.svg"  alt="adobe after effects" />
        </div>
      </div>
      
    
  </div>
  <video controls id="myVideo" preload="metadata">
    <source src="/images/portfolio.mp4#t=0.1">
  </video>


</div>
</section>

