<div data-item="ads" class="swiper mySwiper4">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="/images/ads/rocket.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/Coffee_.webp" loading="lazy" alt="ad design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/difference.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/lead.webp"loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/chats.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/busy.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/angCat.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/ostrich.webp" loading="lazy"alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/sad.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/tech.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/freeLead.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/batman.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/empathy.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/openchair.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>

    </div>
    
    <div class="swiper-slide">
      <img src="/images/ads/Know the cost.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/Men in suit.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/Plant.webp" loading="lazy" alt="ad design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    
    
    <div class="swiper-slide">
      <img src="/images/ads/myntra.webp" loading="lazy"/>
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/39.webp" loading="lazy" />
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
