
<div data-item="app" class="swiper mySwiper2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="/images/app/Movie.webp" alt="movie trailer app design" loading="lazy" >
      </div>
   
      
    </div>
      
   
   
   

    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
    
  </div>
 
 