<div data-item="convert" class="swiper mySwiper3">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper center">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="/images/cro/Cart.webp" alt="cart page conversion rate optimisation" loading="lazy" >
      </div>
      <div class="swiper-slide">
        <img src="/images/cro/form.webp" alt="form conversion rate optimisation" loading="lazy" >
      </div>
      <div class="swiper-slide">
        <img src="/images/cro/home.webp" alt="e-commerce conversion rate optimisation" loading="lazy" >
      </div>
      
    
    </div>
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>

</div>
 
 