<div data-item="prototype" class="swiper mySwiper6">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper center">
      <!-- Slides -->
      <div class="swiper-slide">
        <a href="https://xd.adobe.com/view/233e366b-4f82-4fad-b33f-aa018bfe049a-766d/" target="_blank"><img src="/images/prototype/dentist.webp" alt="dentist web design prototype"loading="lazy" ></a>
      </div>
      <div class="swiper-slide">
        <a href="https://xd.adobe.com/view/17801456-f951-49c7-bfab-aeedc7a310cc-42d3/" target="_blank"><img src="/images/prototype/e-commerce.webp"  alt="e-commerce web design prototype" loading="lazy" ></a>
        
      </div>
      <div class="swiper-slide">
        <a href="https://xd.adobe.com/view/2911703b-95d1-4f1a-b548-011fa17c3ff2-7c42/" target="_blank"><img src="/images/prototype/movie.webp"  alt="movie trailer app design prototype" loading="lazy"  ></a>
      </div>
      
    
    </div>
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>

</div>
 