<div data-item="social" class="swiper mySwiper7">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

    <div class="swiper-slide">
      <img src="/images/social/band.webp" loading="lazy" alt="social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/christmas.webp" loading="lazy" alt="AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/future.webp" loading="lazy" alt="AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/lgw.webp" loading="lazy" alt="AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/cap.webp" loading="lazy"  alt="AI social media post design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/book.webp" loading="lazy" alt=" AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/cr1.webp" loading="lazy" alt=" AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>

    <div class="swiper-slide">
      <img src="/images/social/cr2.webp" loading="lazy" alt="AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/cr3.webp" loading="lazy" alt="AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/cr4.webp" loading="lazy" alt="AI social media post design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/bubble.webp" loading="lazy" alt="AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/ca.png" loading="lazy" alt="AI social media post design" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/beat.webp" loading="lazy"  alt="AI social media post design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/social/vz.webp" loading="lazy"  alt="AI social media post design"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>