
<div data-item="web" class="swiper mySwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="/images/web/band.webp" loading="lazy"  alt="website design">
      </div>
      
      <div class="swiper-slide">
        <img src="/images/web/e-commerce.webp" loading="lazy" alt="website design" >
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Dentist.webp" loading="lazy" alt="website design">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Education.webp" loading="lazy" alt="website design" >
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide">
        <img src="/images/web/ShuttleCloud.webp"  loading="lazy" alt="website design">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img src="/images/web/University.webp" loading="lazy" alt="University web design">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Finance.webp" loading="lazy" alt="website design" >
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Meera.webp"loading="lazy" alt="AI website design" >
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img src="/images/web/TAH.webp" loading="lazy" alt="lawyer website design" >
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img src="/images/web/zsoft.webp" loading="lazy" alt="marketing website design" >
        <div class="swiper-lazy-preloader"></div>
      </div> 
      <div class="swiper-slide">
        <img src="/images/web/GL.webp" loading="lazy" alt="lawyer website design" >
        <div class="swiper-lazy-preloader"></div>
      </div>
     
    </div>
    <!-- If we need pagination -->

    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  
    
  </div>
 
 

